@page
@model SewingFactory.Backend.IdentityServer.Web.Pages.Connect.LoginModel

<div class="gradient-card">
    <h1 class="text-center mb-4">Sign In</h1>

    @if (Model.Input != null)
    {
        <form method="post">
            <input type="hidden" asp-for="Input.ReturnUrl"/>

            <div asp-validation-summary="All" class="text-danger mb-3"></div>

            <div class="mb-3">
                <label asp-for="Input.UserName" class="form-label"></label>
                <input asp-for="Input.UserName"
                       class="form-control"
                       placeholder="Enter username"/>
            </div>

            <div class="mb-4">
                <label asp-for="Input.Password" class="form-label"></label>
                <input asp-for="Input.Password"
                       type="password"
                       class="form-control"
                       placeholder="Enter password"/>
            </div>

            <div class="text-center">
                <button class="gradient-btn" type="submit">Log in</button>
            </div>
        </form>
    }
</div>