@page
@using Microsoft.Extensions.Primitives
@model SewingFactory.Backend.IdentityServer.Web.Pages.Connect.LogoutModel

@{
    var items = HttpContext.Request.HasFormContentType
        ? (IEnumerable<KeyValuePair<string, StringValues>>)HttpContext.Request.Form
        : HttpContext.Request.Query;
}

<div class="gradient-card text-center">
    <h1 class="mb-3">Sign Out</h1>
    <p class="lead mb-4">Are you sure you want to exit?</p>

    <form method="post">
        @foreach (var parameter in items)
        {
            <input type="hidden"
                   name="@parameter.Key"
                   value="@parameter.Value"/>
        }
        <button name="Confirm"
                type="submit"
                class="gradient-btn">
            Yes, Log me out
        </button>
    </form>
</div>